@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none; /* Firefox */
}

.btn-grad-blue {background-image: linear-gradient(to right, #2c3e50 0%, #3498db  51%, #2c3e50  100%)}
.btn-grad-blue {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;            
   box-shadow: 0 0 20px #eee;
 }

 .btn-grad-blue:hover {
   background-position: right center; 
   text-decoration: none;
}


.btn-grad-black {background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%)}
.btn-grad-black {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
 }

 .btn-grad-black:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

 .btn-grad-black-lowcase {background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%)}
.btn-grad-black-lowcase {
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
 }

 .btn-grad-black-lowcase:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

 
 .btn-grad-darkblue {background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%)}
 .btn-grad-darkblue {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 10px #eee;
  }

  .btn-grad-darkblue:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
